@font-face {
    font-family: 'Reenie Beanie'; /* Name der Schriftart */
    src: url('fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf') format('truetype'); /* Format angepasst */
    font-weight: 400; /* Normal */
    font-style: normal; /* Kein Kursiv */
}

@font-face {
    font-family: 'Permanent Marker'; /* Name der Schriftart */
    src: url('fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype'); /* Format angepasst */
    font-weight: 400; /* Normal */
    font-style: normal; /* Kein Kursiv */
}

@font-face {
    font-family: 'Homemade Apple'; /* Name der Schriftart */
    src: url('fonts/Homemade_Apple/HomemadeApple-Regular.ttf') format('truetype'); /* Format angepasst */
    font-weight: 400; /* Normal */
    font-style: normal; /* Kein Kursiv */
}

/*
Rot: #FE0002
Blau: #1F76EA
WEiß: #FFFFFF

Alte Farben: 
Rot: #B63C2F; 
Blau: #414a83;
*/





html {
  font-size: 16px;

}

body {
    font-size: 1.125rem;
    
    font-family: noto sans;
    background-image: url("images/Hintergrund.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 5px;
}

h1 {
    font-size: 2.85rem;
    color: #FE0002; 
    text-align: center;
    font-family: Permanent Marker;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 5px;
}

.flex-child {
    flex-grow: 1;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    max-width: 90vw;
    margin: auto;
    
    padding: 20px 25px 50px 25px;
    /* background-color: #F8F8F8;
    border: 2px solid black;
    */
    background-image: url("images/brauner\ Zettel.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100%;
}

#eingabefelder {
  font-family: Permanent Marker;
  color: #303030;
}

label {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: Permanent Marker;
    flex-wrap: wrap;
}

option {
    font-size: 16px;
    font-family: Permanent Marker;
}

input {
  color: #303030;
  font-family: Permanent Marker;

}

input[type="number"] {
    font-size: 18px;
    /*min-width: 100px; 
    height: 100%;
    text-align: center;
    border-radius: 0;
    border-style: none;
    /*background-color: #1F76EA;*/
    -moz-appearance: textfield; /* Firefox */
    width: 36px; 
    border-style: none;
    text-align: center;
    background-color: #66666600;
    font-family: Permanent Marker;
    color: #303030;
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    font-size: 1.125rem;
    font-family: Permanent Marker;
    color: #303030;
    background-color: #30303000;
    border: none;
    text-align: right;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ergebnis {
    display: flex;
    flex-direction: column;
    
    /*
    border: 2px solid black;
    padding: 0px 20px 20px 20px;
    background-color: #F8F8F8;
    */

    background-image: url("images/Notizzettel.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 20px 20px 20px;
    width: 300px;
    font-family: Homemade Apple;
}


#berechnen {
    background-image: url("images/berechnen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    width: 40%;
    align-self: center;
    flex-basis: fit-content;
    border-radius: 5px;
    margin: 30px 0 30px 0;
    display: none;
}

.signature {
  text-align: center;
  font-family: Homemade Apple;
}

.number-control {
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    border-radius: 25px;
    padding: 15px;
    margin-left: 20px;
  }

  .number-left {
    min-height: 100%;
    content: "-";
    background-image: url("images/minus_schwarz_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-size: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 15px;
    margin-left: 0;
  }

  .number-right {
    min-height: 100%;
    background-image: url("images/plus_schwarz_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-size: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 15px;
    margin: 0;
    
  }

  .zettel {
      margin-top: 20px;
      font-family: Homemade Apple;
      outline: none;
      padding: 1em;
      padding-left: 3em;
      padding-right: 3em;
      border: 2px dashed #DAA06D;
      background-color: #66666600;
      background-image: url(images/zettelherausreissen.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      border-radius: 15px;
      box-shadow: 0 0 0 4px #eaddca00, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
      transition: .1s ease-in-out, .4s color;
    
  }
  


  .number-left:hover::before,
  .number-right:hover::after {
    background-color: #666666;
  }
  
  
  /* Smartphones im Hochformat */
@media (max-width: 480px) {
  /* Stile für sehr kleine Geräte */
  .ergebnis {
    margin-top: 2rem; 
  }

  h1 {
    font-size: 2rem;
  }

  body {
    background-image: url("images/Hintergrund_Handy.jpg");
}

.ergebnis {
width: 100vw;
height: 120vw;
}

.number-control {
  margin-left: 0rem;
  margin: 0;
}

#rechnerForm {
max-width: 85vw;
margin-right: 0px;
}
}

@media (max-width: 1010px) {
  .ergebnis {
    min-width: 70vw;
    min-height: 88vw;
    padding-top:60px;
  }
}

@media (max-width: 400px) {



  .ergebnis {
    padding-top:10px;
    background-image: url("images/zettel_lang.png");
    width: 100vw; 
    height: 240.8vw; 
    background-size: contain;
    background-position: top;
  }

  h2 {
    font-size: 20px;
  }
}
/* HAllo */